BETTER_AUTH_SECRET="Sm5azmnBk4zId007VcEfQnuvzw3fzjZNCGEfIE/ILk4="
BETTER_AUTH_URL=http://localhost:5090
BELONG_DB_USER=belong
BELONG_DB_PASS=belong
BELONG_DB_NAME=belong
BELONG_DB_URI="postgresql://${BELONG_DB_USER}:${BELONG_DB_PASS}@db:5432/${BELONG_DB_NAME}"
BELONG_GOOGLE_CLIENT_ID=""
BELONG_GOOGLE_CLIENT_SECRET=""
BELONG_GITHUB_CLIENT_ID=""
BELONG_GITHUB_CLIENT_SECRET=""
BELONG_FRONTEND_URL="http://localhost:5091"
BELONG_BACKEND_URL="http://localhost:5090"
BELONG_SMTP_HOST=""
BELONG_SMTP_PORT="465"
BELONG_SMTP_USER=""
BELONG_SMTP_PASS=""
BELONG_SMTP_FROM=""
