BETTER_AUTH_SECRET="AmgrfFOgRc/2yUn3EfMkY1pHYb8+obsn7Xg9HimBYWM="
BETTER_AUTH_URL=http://localhost:5090
BELONG_DB_URI="postgresql://belong:belong@localhost:5432/belong"
BELONG_GOOGLE_CLIENT_ID=""
BELONG_GOOGLE_CLIENT_SECRET=""
BELONG_GITHUB_CLIENT_ID=""
BELONG_GITHUB_CLIENT_SECRET=""
BELONG_FRONTEND_URL="http://localhost:5091"
BELONG_SMTP_HOST=""
BELONG_SMTP_PORT=""
BELONG_SMTP_USER=""
BELONG_SMTP_PASS=""
BELONG_SMTP_FROM=""
